body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    background-image: url("..images/BookStack.jpg");
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* HERO */


.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.jumbotron p {
    text-align: center;
}
.jumbotron h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #266F8C;
    font-size: 60px;
    text-align: center;
}
.jumbotron h1 span {
    display: block;
    color: #266F8C;
    -webkit-text-stroke-color: darkslategray;
    -webkit-text-stroke-width: 3px;
}

.jumbotron .my-4 {
    background-color: white;
}

/* NAVIGATION */

nav {
    padding-left: 40px;
    padding-right: 40px;
    width: 100vw;
}
.form-inline {
    width: 300px;
}
.menu {
    display: flex;
    justify-items: end;
}

/* SEARCH BAR */

.form-inline {
    justify-content: center;
    align-items: center;
}

/* CARDS SECTION */

#center {
    margin: 100px;
}
.display-4 {
    padding: 10px;
}

